.clearfix {
  overflow: auto;
}

img.small-right4 {
  right: -105px;
  bottom: -70px;
}

.section-background {
  width: 100%;
  background-color: #eca278;
}

.photos {
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1800px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eca278;
}

.photo-1 {
  right: 84%;
  bottom: 58%;
  filter: grayscale(1);
}

.photo-2 {
  right: 57%;
  bottom: 64%;
}

.photo-3 {
  left: 64%;
  bottom: 65%;
}

.photo-4 {
  left: 82%;
  bottom: 64%;
}

.photo-5 {
  right: 80%;
  top: 60%;
}

.photo-6 {
  right: 58%;
  top: 66%;
  width: 81px;
}

.photo-7 {
  left: 54%;
  top: 66%;
}

.photo-8 {
  left: 75%;
  top: 58%;
}

.fix:hover {
  background-color: #e1d19d;
  transition: 0.8s;
}

.buy:hover {
  background-color: #F6ECD8;
  transition: 0.8s;
}

@media (max-width: 860px) {
  .photo-1 {
    left: 5%;
  }

  .photo-2 {
    left: 30%;
    width: 100px;
  }

  .photo-3 {
    width: 80px;
    left: 55%;
    bottom: 64%;
  }

  .photo-4 {
    left: 78%;
    bottom: 58%;
  }

  .photo-5 {
    top: 66%;
  }

  .photo-6 {
    right: 58%;
    top: 75%;
  }

  .photo-7 {
    left: 50%;
    top: 67%;
  }

  .photo-8 {
    left: 77%;
    top: 65%;
  }
}

@media (max-width: 570px) {
  /*
   ogarnąć zeby .small nie wplywalo na ten styl,
   uporządkować small-right1,2 itp.
  */


 .overlay-right{
   left: 20%;
 }

  img.small-right2,
  img.small-right1,
  img.small-right4 {
    width: 154px;
    right: -68px;
    bottom: -55px;
  }

  .small-right1.small-right1-imp {
    width: 118px;
    bottom: -39px;
    right: 30px;
    
  }

  .small-right2.small-right2-imp {
    width: 98px;
    bottom: -35px;
    left: 140px;
  }

  .small-right4.small-right4-imp{
    right:0px;
  }

  .small-left {
    left: 130px;
    bottom: -50px;
  }

  .photo-1 {
    left: 5%;
    bottom: 68%;
    width: 79px;
  }

  .photo-2 {
    left: 40%;
    bottom: 79%;
    width: 75px;
  }

  .photo-3 {
    left: 73%;
    bottom: 72%;
    width: 76px;
  }

  .photo-4 {
    left: 46%;
    bottom: 53%;
    width: 75px;
  }

  .photo-5 {
    left: 7%;
    top: 59%;
    width: 67px;
  }

  .photo-6 {
    right: 45%;
    top: 65%;
    width: 65px;
  }

  .photo-7 {
    left: 70%;
    top: 70%;
    width: 86px;
  }

  .photo-8 {
    left: 17%;
    top: 83%;
    width: 76px;
  }
}
