@font-face {
  src: url(fonts/CooperBTW01Light.ttf);
  font-family: CooperLight;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background-color: #fffdf4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: CooperLight;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 113.22%;
}

h1 {
  font-size: 128px;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 35px;
}

h4 {
  font-size: 24px;
}

h5 {
  font-size: 16px;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 113.22%;
  color: #000000;
}

a {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 113.22%;
  color: #000000;
  text-decoration: none;
}

.flexbox {
  display: flex;
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 206px;
}

.photo-container {
  position: relative;
  flex: 52%;
}

.overlay,
.overlay-right {
  width: 291px;
  position: relative;
}

.overlay-right {
  margin: 0 auto;
}

img.big {
  transition: filter 0.8s;
}

.big:hover {
  filter: grayscale(100%);
  transition: filter 0.8s;
}

img.small {
  position: absolute;
}

img.small-right1 {
  bottom: -40px;
  right: -135px;
}

img.small-right2 {
  bottom: -50px;
  right: -90px;
}

img.small-right4{
  right: -105px;
  bottom: -70px;
}

.small-left {
  left: -100px;
  bottom: -65px;
}

.text-container {
  flex: 48%;
  display: flex;
  justify-content: flex-end;
}

.text-container div {
  margin: 0 60px 0 40px;
}

.text-container-left div {
  margin-right: 40px;
}

.text-container div h5 {
  padding: 70px 0 30px 0;
}

.description {
  max-width: 340px;
  padding-bottom: 30px;
}

.address {
  padding-bottom: 20px;
  max-width: 210px;
}

.section-background {
  width: 100%;
  background-color: #ECA278;
}

.photos {
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1800px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ECA278;
}

.photo {
  position: absolute;
}

.photo-1 {
  right: 84%;
  bottom: 58%;
  filter: grayscale(1);
}

.photo-2 {
  right: 57%;
  bottom: 64%;
}

.photo-3 {
  left: 64%;
  bottom: 67%;
}

.photo-4 {
  left: 82%;
  bottom: 66%;
}

.photo-5 {
  right: 80%;
  top: 60%;
}

.photo-6 {
  right: 58%;
  top: 66%;
  width: 81px;
}

.photo-7 {
  left: 54%;
  top: 66%;
}

.photo-8 {
  left: 75%;
  top: 58%;
}

.fix-and-buy {
  align-items: center;
  height: 100vh;
  display: flex;
}

.fix,
.buy {
  flex: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
  transition: 0.8s;
}

.img-opacity {
  opacity: 0.5;
  transition: 0.8s;
}

.fix:hover,
.buy:hover {
  background-color: #e1d19d;
  transition: 0.8s;
}

.fix img,
.buy img {
  margin: 0 auto;
  padding-bottom: 47px;
  transition: 0.8s;
}

.border {
  max-width: 1px;
  height: 100%;
  border-right: 1px solid #000000;
}

@media (max-width: 1100px) {
  .overlay {
    margin: 0 0 0 55px;
  }

   .first-overlay-right {
    margin-right: 140px;
  }

  .text-container div {
    margin: 0 55px 0 65px;
  }

  .text-container div h4 {
    padding: 30px 0 30px 0;
  }

  .text-container-left div {
    margin: 0 10px 0 110px;
  }
}

@media (max-width: 860px) {

  .flexbox {
    flex-direction: column-reverse;
    margin: 0 20px 0 20px;
    padding-bottom: 156px;
  }

  .reverse-flexbox {
    flex-direction: column;
  }

  .overlay,
  .text-container div {
    margin: none;
    margin-left: 13%;
  }

  .first-overlay-right{
    margin-right: 0px;
  }
  .overlay-right {
    margin-right: 140px;
  }

  .second-overlay-right {
    margin-left: 140px;
  }

  .text-container {
    justify-content: flex-start;
    margin-bottom: 80px;
  }

  .reverse-big {
    margin: none;
    margin-right: 3%;
  }

  .photo-1 {
    left: 5%;
  }

  .photo-2 {
    left: 30%;
    width: 100px;
  }

  .photo-3 {
    width: 80px;
    left: 55%;
    bottom: 64%;
  }

  .photo-4 {
    left: 78%;
    bottom: 58%;
  }

  .photo-5 {
    top: 66%;
  }

  .photo-6 {
    right: 58%;
    top: 75%;
  }

  .photo-7 {
    left: 50%;
    top: 67%;
  }

  .photo-8 {
    left: 77%;
    top: 65%;
  }

  .fix h2,
  .buy h2 {
    font-size: 70px;
  }
}

@media (max-width: 570px) {
  .flexbox {
    margin: 0 0 0 0;
    margin-left: 20px;
    padding-bottom: 26px;
  }

  .flexbox:last-of-type {
    padding-bottom: 140px;
  }

  .text-container {
    margin-bottom: 20px;
  }

  .overlay,
  .text-container div {
    margin: 0;
    max-width: 305px;
  }

  .overlay{
    margin: 0;
  }

  .big {
    width: 196px;
    margin: 0 0 0 0;
  }
  .small {
    width: 118px;
    right: -40px;
    bottom: -70px;
  }

  .small-right1{
    right: 30px;
    bottom: -40px;
  }

  .small-right2{
    right: 30px;
  }

  .small-left{
    left: 130px;
    bottom: -50px;
  }

  .photo-container-right {
    margin-right: 0;
    text-align: left;
    display: flex;
    justify-content: flex-end;
    margin-right: 89px;
  }

  .overlay-right {
    margin-right: 0px;
  }

  .photos {
    height: 690px;
    min-height: 0;
    max-height: none;
  }

  .photos h3 {
    font-size: 23px;
  }

  .photo-1 {
    left: 5%;
    bottom: 68%;
    width: 79px;
  }

  .photo-2 {
    left: 40%;
    bottom: 79%;
    width: 75px;
  }

  .photo-3 {
    left: 73%;
    bottom: 72%;
    width: 76px;
  }

  .photo-4 {
    left: 46%;
    bottom: 53%;
    width: 75px;
  }

  .photo-5 {
    left: 7%;
    top: 59%;
    width: 67px;
  }

  .photo-6 {
    right: 45%;
    top: 65%;
    width: 65px;
  }

  .photo-7 {
    left: 70%;
    top: 70%;
    width: 86px;
  }

  .photo-8 {
    left: 17%;
    top: 83%;
    width: 76px;
  }

  .fix h2,
  .buy h2 {
    font-size: 70px;
  }

  .fix-and-buy {
    height: 327px;
  }

  .fix {
    display: none;
  }

  .img-container {
    padding: 79px 0 30px 0;
  }

  .buy h2,
  .fix-and-buy div h2 {
    font-size: 40px;
    padding-bottom: 0;
  }
}
