.section-background {
  width: 100%;
  background-color: #e1d19d;
}

.photos {
  position: relative;
  height: 100vh;
  min-height: 800px;
  max-height: 1800px;
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e1d19d;
}

.photo-1 {
  right: 80%;
  bottom: 58%;
  filter: sepia(1);
}

.photo-2 {
  right: 47%;
  bottom: 64%;
}

.photo-3 {
  left: 75%;
  bottom: 61%;
}

.photo-4 {
  right: 80%;
  top: 60%;
}

.photo-5 {
  right: 58%;
  top: 70%;
  width: 81px;
}

.photo-6 {
  left: 54%;
  top: 72%;
}

.photo-7 {
  left: 78%;
  top: 58%;
}

.buy:hover {
  background-color: #f6ecd8;
  transition: 0.8s;
}

.fix:hover {
  background-color: #ECA278;
  transition: 0.8s;
}

@media (max-width: 860px) {
  .photo-1 {
    left: 5%;
    width: 100px;
  }

  .photo-2 {
    left: 40%;
    width: 100px;
  }

  .photo-3 {
    width: 150px;
    left: 75%;
    bottom: 64%;
  }

  .photo-4 {
    top: 66%;
    width: 100px;
  }

  .photo-5 {
    right: 58%;
    top: 75%;
    width: 70px;
  }

  .photo-6 {
    left: 57%;
    top: 77%;
    width: 100px;
  }

  .photo-7 {
    left: 83%;
    top: 67%;
    width: 100px;
  }
}

@media (max-width: 570px) {
  .photo-1 {
    left: 5%;
    bottom: 60%;
    width: 86px;
  }

  .photo-2 {
    left: 40%;
    bottom: 73%;
    width: 115px;
  }

  .photo-3 {
    left: 73%;
    bottom: 66%;
    width: 96px;
  }

  .photo-4 {
    left: 42%;
    bottom: 53%;
    width: 75px;
  }

  .photo-5 {
    right: 74%;
    top: 60%;
    width: 75px;
  }

  .photo-6 {
    left: 70%;
    top: 70%;
    width: 93px;
  }

  .photo-7 {
    left: 17%;
    top: 83%;
    width: 76px;
  }
}
