@font-face {
  src: url(fonts/CooperBTW01Light.ttf);
  font-family: CooperLight;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

* {
  margin: 0;
  padding: 0;
  display: block;
}

body {
  background-color: #fffdf4;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: CooperLight;
  font-style: normal;
  font-weight: 300;
  line-height: 113.22%;
}

h2 {
  font-size: 80px;
}

h3 {
  font-size: 50px;
}

h4 {
  font-size: 40px;
}

h5 {
  font-weight: 500;
  font-size: 14px;
}

p {
  font-family: "Cormorant Garamond", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 113.22%;
  color: #000000;
}

a {
  font-family: "Cormorant Garamond", serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 113.22%;
  color: #000000;
  text-decoration: none;
}

li {
  font-family: "Cormorant Garamond", serif;
}

.loader {
  position: absolute;
  position: relative;
  height: 100vh;
  background-color: #fffdf4;
}

.loader-container-1,
.loader-container-2 {
  position: relative;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  overflow: hidden;
}

.loader-container-1 {
  bottom: 55%;
  width: 670px;
  height: 56px;
}

.loader-container-2 {
  top: 50%;
  width: 400px;
  height: 120px;
}

.loader-line-1 {
  width: 630px;
  position: absolute;
  top: 70px;
  transform: translateX(-50%);
  left: 50%;
  transition: 1.2s ease;
}

.loader-line-2 {
  font-size: 128px;
  width: 370px;
  height: 120px;
  position: absolute;
  top: 120px;
  transform: translateX(-50%);
  left: 50%;
  transition: 1.2s ease;
}

header {
  height: 100vh;
  background-image: url("../img/gracia1-min.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  z-index: 10;
}

.nav-bar {
  position: relative;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.sticky {
  position: fixed;
}

.nav-bar h5 {
  position: absolute;
  left: 61px;
  top: 30px;
  visibility: hidden;
}

.full-navigation {
  position: absolute;
  right: 61px;
  top: 30px;
  visibility: hidden;
}

.full-navigation a {
  margin-bottom: 3px;
  position: relative;
}

.overflow-hidden {
  overflow-x: hidden;
  position: absolute;
  width: 60px;
  right: 0;
  height: 1000px;
  display: none;
  display: block;
  transition: 0.5s;
}

.overflow-hidden-show{
  width: 290px;
  transition: 0.5s;
}

.responsive-navigation {
  display: none;
  position: relative;
  position: absolute;
  right: -288px;
  top: 0px;
  width: 287px;
  height: 100vh;
  padding-top: 99px;
  background-color: #fffdf4;
  border-left: 1px solid #000000;
  transition: 0.5s;
}

.responsive-navigation-opened {
  right: 0;
  transition: 0.5s;
}

.hamburger-menu {
  z-index: 1000;
  position: absolute;
  left: -50px;
  top: 30px;
  height: 7px;
  width: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s;
}

.hamburger-menu-opened {
  left: 238px;
  transition: 0.5s;
}

.line1,
.line2 {
  height: 1px;
  width: 25px;
  background-color: #000000;
  transition: 0.5s;
}

.line2 {
  width: 15px;
  margin-left: 10px;
}

.responsive-menu li {
  padding: 0px 35px 0 48px;
  display: flex;
  align-items: center;
  padding-bottom: 79px;
}

.responsive-menu a {
  margin-right: 75px;
  font-size: 30px;
  position: relative;
}

.line1-close {
  width: 15px;
  transform: rotateZ(-45deg) translate(-4px, 8.8px);
  transition: 0.5s;
}

.line2-close {
  width: 15px;
  margin-left: 0px;
  transform: rotateZ(45deg) translate(4.5px, -0.1px);
  transition: 0.5s;
}

.responsive-navigation a::after,
.full-navigation a::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0px;
  width: 100%;
  left: 0;
  background-color: #000000;
  transition: 0.5s;
  transform: scaleX(0);
}

.responsive-navigation a:hover::after,
.full-navigation a:hover::after {
  transition: 0.5s;
  transform: scaleX(1);
}

.header-title {
  position: fixed;
  font-size: 128px;
  color: #fffdf4;
  z-index: 999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50vh;
  visibility: hidden;
}

.scrolled {
  color: #000000;
  transition: color 0.5s;

}

.scrolled-loader{
  color: #fffdf4;
  transition: color 0.4s;
}

.attached {
  position: absolute;
  top: 283px;
  transition: position 0s;
}

section {
  position: relative;
  max-width: 1280px;
  background-color: #fffdf4;
  margin: 0 auto;
  overflow: hidden;
}

.main-p {
  text-align: center;
  max-width: 540px;
  margin: 0 auto;
  padding: 371px 0 299px 0;
}

.eat-container,
.buy-container,
.fix-container {
  display: flex;
  height: 1043px;
  margin: 0 auto 290px auto;
}

.eat-photo-container,
.fix-photo-container {
  flex: 0.67;
  position: relative;
}

.eat-text-container,
.fix-text-container {
  flex: 0.33;
}

.eat-text-container div,
.fix-text-container div {
  padding-right: 30px;
}

.photo {
  position: absolute;
}

.eat-photo1 {
  width: 196px;
  left: 52%;
}

.eat-photo2 {
  width: 286px;
  right: 0%;
  bottom: 0;
}

.eat-photo3 {
  width: 311px;
  right: 49%;
  top: 305px;
}

.eat-text-container {
  padding-top: 200px;
}

.title,
.list {
  padding-bottom: 30px;
}

.paragraph {
  padding-bottom: 40px;
  max-width: 290px;
}

.list {
  list-style-type: disc;
  font-weight: 500;
}

.list li {
  display: list-item;
  list-style-position: inside;
  padding-bottom: 5px;
}

.buy-container {
  flex-direction: row-reverse;
}

.buy-photo-container {
  position: relative;
  flex: 0.6;
}

.buy-text-container {
  padding-top: 160px;
  flex: 0.4;
}

.buy-text-container div {
  padding-left: 26%;
}

.buy-photo1 {
  right: 55%;
}

.buy-photo2 {
  width: 290px;
  left: 49%;
  top: 320px;
}

.buy-photo3 {
  width: 292px;
  left: -7%;
  bottom: 0;
}

.fix-container {
  margin: 0 auto 209px auto;
}

.fix-text-container {
  padding-top: 230px;
}

.fix-photo1 {
  height: 371px;
  right: 52%;
}

.fix-photo2 {
  right: 14%;
  top: 418px;
}
.fix-photo3 {
  width: 291px;
  right: 38%;
  bottom: 0;
}

footer {
  background-color: #fffdf4;
  border-top: 1px solid #f6ecd8;
  width: 100%;
  height: 282px;
}

footer h4 {
  padding-top: 92px;
  text-align: center;
}

footer a {
  font-weight: 500;
  padding-top: 10px;
  text-align: center;
}

/* RESPONSIVE STYLES */

@media (max-width: 1250px) {
  .nav-bar h5 {
    left: 21px;
  }

  .full-navigation {
    right: 21px;
  }
}

@media (max-width: 1100px) {
  .eat-photo1 {
    width: 196px;
  }

  .eat-photo2 {
    width: 256px;
  }

  .eat-photo3 {
    width: 271px;
  }

  .buy-photo2 {
    width: 250px;
  }

  .buy-photo3 {
    width: 302px;
  }

  .buy-text-container div {
    padding-left: 17%;
  }

  .fix-photo1 {
    height: 331px;
    right: 52%;
  }

  .fix-photo2 {
    right: 14%;
    top: 418px;
  }

  .fix-photo3 {
    width: 251px;
    right: 38%;
    bottom: 0;
  }
}

@media (max-width: 860px) {
  .header-title {
    font-size: 88px;
  }

  .main-p {
    width: 70%;
  }

  .eat-container,
  .buy-container,
  .fix-container {
    height: auto;
    display: block;
    margin: 0 auto 216px auto;
  }

  .fix-container {
    margin: 0 auto 166px auto;
  }

  .eat-photo-container {
    height: 706px;
  }

  .buy-photo-container {
    height: 500px;
  }

  .fix-photo-container {
    height: 600px;
  }

  .eat-text-container,
  .buy-text-container,
  .fix-text-container {
    padding-top: 30px;
    padding-left: 30px;
  }

  .buy-text-container div {
    padding-left: 0;
  }

  .eat-photo1 {
    left: 45%;
  }

  .eat-photo2 {
    width: 220px;
    left: 54%;
  }

  .eat-photo3 {
    width: 220px;
    left: 30px;
    top: 305px;
  }

  .buy-photo1 {
    right: 52%;
  }

  .buy-photo2 {
    width: 180px;
    left: 60%;
    top: 330px;
  }

  .buy-photo3 {
    width: 220px;
    left: 30px;
    bottom: 20px;
  }

  .fix-photo1 {
    height: 261px;
    right: 60%;
  }

  .fix-photo2 {
    width: 170px;
    left: 68%;
    top: 230px;
  }

  .fix-photo3 {
    width: 171px;
    right: 40%;
  }
}
@media (max-width: 570px) {
  .full-navigation {
    display: none;
  }

  /* .overflow-hidden {
    display: block;
  } */

  .responsive-navigation {
    display: block;
  }

  p,
  .list li,
  .link {
    font-size: 18px;
  }

  .header-title {
    font-size: 72px;
  }

  .main-p {
    max-width: 335px;
    padding: 350px 0 132px 0; /*w razie co zmienic funkcje w JS*/
  }

  .fix-container {
    margin: 0 auto 108px auto;
  }

  .eat-photo-container {
    height: 536px;
  }

  .buy-photo-container {
    height: 390px;
  }

  .fix-photo-container {
    height: 370px;
  }

  .buy-text-container,
  .fix-text-container {
    padding-top: 60px;
    padding-left: 21px;
  }

  .eat-text-container {
    padding-top: 20px;
    padding-left: 21px;
  }

  .eat-photo1 {
    width: 120px;
    left: 25%;
  }

  .eat-photo2 {
    width: 152px;
    left: 57%;
  }

  .eat-photo3 {
    width: 145px;
    left: 21px;
    top: 205px;
  }

  .buy-photo1 {
    width: 130px;
    left: 10%;
  }

  .buy-photo2 {
    top: 85px;
    width: 134px;
  }

  .buy-photo3 {
    width: 152px;
    left: 21px;
  }

  .fix-photo1 {
    height: 166px;
    left: 21px;
  }

  .fix-photo2 {
    width: 101px;
    left: 68%;
    top: 150px;
  }

  .fix-photo3 {
    width: 101px;
    left: 30%;
  }
}
