header h4 {
  top: 20px;
  left: 50%;
  position: fixed;
  transform: translateX(-50%);
  z-index: 999;
}

header h4 a{
  display: none;
  font-family: CooperLight;
  font-style: normal;
  font-size: 24px;
  font-weight: 300;
}

.fix-header {
  display: none;
  line-height: 1;
  position: absolute;
  transform: translateX(-50%);
  top: 110px;
  left: 50%;
  transition: font-size 0.75s ease;
}

.sticky {
  position: fixed;
  font-size: 64px;
  top: 50px;
  transition: font-size 0.75s ease;
  z-index: 999;
}

.main-p {
  text-align: center;
  margin: 0 auto;
  padding: 371px 0 261px 0;
  max-width: 464px;
}

.nav-bar {
  position: relative;
  position: fixed;
  top: 0px;
  z-index: 1000;
  width: 100%;
}

.nav-bar h5 {
  position: absolute;
  left: 61px;
  top: 30px;
}

.nav-bar h5 a{
  font-family: CooperLight;
  font-style: normal;
  font-size: 14px;
  font-weight: 300;
}

.full-navigation {
  position: absolute;
  right: 61px;
  top: 30px;
}

.full-navigation a {
  display: block;
  margin-bottom: 3px;
  position: relative;
}

.responsive-navigation {
  display: none;
  position: relative;
  position: absolute;
  right: -288px;
  top: 0px;
  width: 287px;
  height: 100vh;
  padding-top: 99px;
  background-color: #fffdf4;
  border-left: 1px solid #000000;
  transition: 0.5s;
}

.responsive-navigation-opened {
  right: 0;
  transition: 0.5s;
  z-index: 1000;
}

.hamburger-menu {
  padding: 10px;
  z-index: 1000;
  position: absolute;
  left: -50px;
  top: 30px;
  height: 7px;
  width: 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  transition: 0.5s;
}

.hamburger-menu-opened {
  left: 238px;
  transition: 0.5s;
}

.line1,
.line2 {
  height: 1px;
  width: 25px;
  background-color: #000000;
  transition: 0.5s;
}

.line2 {
  width: 15px;
  margin-left: 10px;
}

.responsive-menu li {
  padding: 0px 35px 0 48px;
  display: flex;
  align-items: center;
  padding-bottom: 79px;
  transform: translateX(200px);
  transition: 1s;
}

.responsive-menu a {
  margin-right: 75px;
  font-size: 30px;
  position: relative;
}

.line1-close {
  width: 15px;
  transform: rotateZ(-45deg) translate(-4px, 8.8px);
  transition: 0.5s;
}

.line2-close {
  width: 15px;
  margin-left: 0px;
  transform: rotateZ(45deg) translate(4.5px, -0.1px);
  transition: 0.5s;
}

.responsive-navigation a::after,
.full-navigation a::after {
  position: absolute;
  content: "";
  height: 1px;
  bottom: 0px;
  width: 100%;
  left: 0;
  background-color: #000000;
  transition: 0.5s;
  transform: scaleX(0);
}

.responsive-navigation a:hover::after,
.full-navigation a:hover::after {
  transition: 0.5s;
  transform: scaleX(1);
}

.header-title {
  position: fixed;
  font-size: 128px;
  color: #fffdf4;
  z-index: 999;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50vh;
  transition: 0.5s;
}
@media (max-width: 1250px) {
  .nav-bar h5 {
    left: 21px;
  }

  .full-navigation {
    right: 21px;
  }
}
@media (max-width: 860px) {
  .main-p {
    padding: 371px 0 201px 0;
  }
}

@media (max-width: 570px) and (min-height: 320px) {
  .main-p {
    max-width: 335px;
  }

  .full-navigation {
    display: none;
  }

  .responsive-navigation {
    display: block;
  }
}
